/* Resetando os estilos básicos */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9e7e5;
    color: #333;
    width: 100vw;

}
.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.swiper {
    object-fit: cover;
    width: 60%; 
    height: 60%; 
}
/* **  menu de navegação  ** */  
.navbar {
    background-color: #ee9dad;
    padding: 15px 0px 15px 0px; 
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.navbar .logo {
    height: 80px;
    object-fit: contain; /*mantem a proporção da imagem*/
    padding-right: 150px;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    transition: color 0.3s ease;
    padding-right: 150px;
}
.navbar ul li a:hover {
    color: white;
}
.item {/* o mesmo q .navbar ul li */
    position: relative;
    display: flex;
    flex-direction: column; 
}
.popup {
    display: none;
    position: absolute;
    top: 100%;
    padding: 10px;
    text-align: center;
    background-color: #f9e7e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #f9e7e5;
    border-radius: 10px;
    z-index: 1;
}
.popup ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.item:hover .popup {
    display: block; 
}
.textoPopup{
    color: #000;
    transition: 500ms;
    padding: 5px;;
} 
.textoPopup:hover{
    transform: scale(1.2);
}

.sacola-icon {
    width: 30px;
    height: 30px;
    padding: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.sacola-icon:hover { 
    transform: scale(1.2);
}

/*   PÁGINA PRINCIPAL   */

#pagInicial{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
    position: relative;
}

/*      ESQUERDA      */
#esquerda{
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
}
#textoInicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    font-family: "Georgia", serif;
    color: black;
}
.spanInicio {
    color: white;
    font-weight: bold;
}

/*   DIREITA   */
#direita{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.swiper1 {
    width: 60%; 
    height: 60%; 
    object-fit: cover;
    background-color: #f9e7e5;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.swiper-slide img {
    width: 80%;
    height: 85%;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.swiper-slide p {
    color: black;
    font-size: 18px;
    font-family: "Georgia", serif;
}
.swiper-button-prev1, .swiper-button-next1 {
    font-size: 30px;
    font-weight: bold; 
}
.swiper-pagination1-bullet {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination1-bullet-active {
    color: #fff;
    background: #007aff;
}

/* **    AROMAS    ** */
#aromas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #c98895;
    position: relative;
    flex-direction:row;
}
.titulo{
    display: flex;
    font-family: "Notable", sans-serif;
    color: #000;
    font-size: 100px;
    position: relative; 
    top: 40px;
    left: 80px;
}

.swiper2{
    position: relative;
    object-fit: cover;
    background-color: #c98895;
}
.swiper-slide2 {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.swiper-slide2 img {
    width: 90%;
    height: 85%;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.swiper-slide2 p {
    color: black;
    font-size: 18px;
    font-family: "Georgia", serif;
}
.swiper-button-prev2, .swiper-button-next2 {
    font-size: 30px;
    font-weight: bold;
    color: #f9e7e5;
}
.swiper-pagination2-bullet {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination2-bullet-active {
    color: #fff;
    background: #007aff;
}

/* **    AMBIENTES    ** */
#ambientes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ee9dad;
    position: relative;
    flex-direction: row;
}
.titulo{
    display: flex;
    font-family: "Notable", sans-serif;
    color: #000;
    font-size: 100px;
    position: absolute; 
    top: 40px;
    left: 80px;
}
.swiper3{
    position: relative;
    height: 50%t;
    width: 80%; 
    object-fit: cover;
    background-color: #ee9dad;
}
.swiper-slide3 {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.swiper-slide3 img {
    width: 90%;
    height: 85%;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.swiper-slide3 p {
    color: black;
    font-size: 18px;
    font-family: "Georgia", serif;
}
.swiper-button-prev3, .swiper-button-next2 {
    font-size: 30px;
    font-weight: bold; 
}
.swiper3 .swiper-pagination-bullet {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper3 .swiper-pagination-bullet-active {
    color: #fff;
    background: #fff;
}

/* Estilos do rodapé */
footer {
    width: 100vw;
    background-color: #e91e63;
    color: white;
    text-align: center;
    padding: 15px;
}

@media screen and (max-width: 768px) {
    #pagInicial {
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
    }
    #direita{
        width: 100%;
    }
    
}
