h1{
    color: rgb(93, 93, 214);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size:70pt;

}

h2{
    color: rgb(75, 155, 95);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 20pt;
}

h3{
    color: rgb(221, 164, 78);
    background-color: rgb(77, 26, 26);
    text-align: center;
    padding: 100px;
}