/* Resetando os estilos básicos */
* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9e7e5;
    color: #333;
    width: 100vw;
    overflow-x:hidden !important;
}
.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.swiper {
    object-fit: cover;
    user-select: none;
}
.titulo{
    display: flex;
    font-family: "Notable", sans-serif;
    color: #000;
    font-size: 100px;
    position: relative; 
    top: 40px;
    left: 80px;
}
/* **  menu de navegação  ** */  
.navbar {
    background-color: #ee9dad;
    padding: 15px 0px 15px 0px; 
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.navbar .logo {
    height: 80px;
    object-fit: contain; /*mantem a proporção da imagem*/
    padding-right: 150px;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: white;
}
.item {/* o mesmo q .navbar ul li */
    position: relative;
    display: flex;
    flex-direction: column; 
}

.fi{
    position: relative;
    font-size: 25px;
    margin: 0;
    cursor: pointer;
}

/*   PÁGINA PRINCIPAL   */

#pagInicial{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
    position: relative;
}

/*      ESQUERDA      */
#esquerda{
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
}
#textoInicio {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    font-family: "Georgia", serif;
    color: black;
}
.spanInicio {
    color: white;
    font-weight: bold;
}

/*   DIREITA   */
#direita{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.swiper1 {
    position: relative;
    width: 60%; 
    height: 60%; 
    object-fit:contain;
}
.swiper-slide1 { 
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
   /** background-color: #ee9dad;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);  **/
}
.swiper-slide1 img {
    width: 75%;
    height: 70%;
    border-radius: 15px; 
}
.swiper-slide1 p {
    color: black;
    font-size: 18px;
    font-family: "Georgia", serif;
    padding: auto;
}
.swiper-button-prev1, .swiper-button-next1 {
    font-size: 30px;
    font-weight: bold;
}
.swiper-pagination1-bullet {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination1-bullet-active {
    color: #fff;
    background: #c98895;
}

/* **    AROMAS    ** */
#aromas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #c98895;
    position: relative;
    flex-direction:row;
    z-index: 1;
}

.hidden {
    display: none;
}
.btn {
    position: relative;
    margin-top: 5%;
    cursor: pointer;
    border: none;
}
.swiper2{
    position: relative;

    width: 60%; 
    height: 60%; 
    background-color: #c98895; 
}
.swiper-slide2 {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.swiper-slide2:hover{
    transform: scale(1.04);
}
.swiper-slide2 img {
    position: relative;
    width: 80%;
    height: 85%;
}
.swiper-slide2 p {
    color: black;
    font-size: 18px;
    font-family: "Georgia", serif;
}
.swiper-button-prev2, .swiper-button-next2 {
    font-size: 30px;
    font-weight: bold;
    color: #f9e7e5;
}
.swiper-pagination2-bullet {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper-pagination2-bullet-active {
    color: #fff;
    background: #c98895;
}

/* ---  Entre em contato  --- */
#EntreContato{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
}
#esq{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.VelaVDif{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: -35px;
}
#dir{
    position: relative;
    width: 50%;
    height: 100%;
    display:inline;
    padding-left: 2%; 
}
#tituloLDD{
    display: flex;
    font-family: "Notable", sans-serif;
    color: #000;
    font-size: 100px;
    position: relative; 
    
}
.texto{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* **    AMBIENTES    ** */
#ambientes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ee9dad;
    position: relative;
    flex-direction: row;
    z-index: 1;
}
.titulo{
    display: flex;
    font-family: "Notable", sans-serif;
    color: #000;
    font-size: 100px;
    position: relative; 
    top: 5%;
    left: 3%;
}
.swiper3{
    position: relative;
    height: 50%t;
    width: 80%; 
    object-fit: cover;
    background-color: #ee9dad;
}
.swiper-slide3 {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.swiper-slide3 img {
    width: 90%;
    height: 85%;
    border-radius: 15px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.swiper-slide3 p {
    color: black;
    font-size: 18px;
    font-family: "Georgia", serif;
}
.swiper-button-prev3, .swiper-button-next2 {
    font-size: 30px;
    font-weight: bold; 
}
.swiper3 .swiper-pagination-bullet {
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}
.swiper3 .swiper-pagination-bullet-active {
    color: #fff;
    background: #fff;
}

/* ---  Nossa Historia  --- */
#NossaHist{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
}
.E{
    position: relative;
    width: 50%;
    height: 100%;
    display:inline;
    padding-left: 2%;
}
.NossaH{
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: -35px;
}
.D{
    position: relative;
    width: 50%;
    height: 100%;
}
.texto{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
}
/* ---  Para  Casa  --- */
#paraCasa{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #79485a;
}

/* ---  Monte Seu Pedido  --- */
#montePedido{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
    
}

/* ---  Difusores  --- */
#difusores{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #c98895;
    position: relative;
    
}
.swiper5{
    position: relative;
    object-fit: cover;
    background-color: #c98895; 

}
.swiper-slide5 {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    border-radius: 10px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.swiper-slide5:hover{
    transform: scale(1.04);
}
.swiper-slide5 img {
    width: 80%;
    height: 85%;
}
/* Estilos do rodapé */
footer {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
    color: black;
    font-size: larger;
    text-align: center;
    padding: 15px;
}
.dRodape{
    position:absolute;
    bottom: 10px;
    right: 20px;
    font-size: xx-large;
}
.imgRodape{
    width: 10%;
    height: 10%;
}

@media screen and (max-width: 768px) {
    #pagInicial {
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
    }
    #direita{
        width: 100%;
    }
    
}
