/* Resetando os estilos básicos */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9e7e5;
    color: #333;
    width: 100vw;

}
.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* **  menu de navegação  ** */  
.navbar {
    background-color: #ee9dad;
    padding: 15px 0px 15px 0px; 
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.navbar .logo {
    height: 80px;
    object-fit: contain; /*mantem a proporção da imagem*/
    padding-right: 150px;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: white;
}
.item {/* o mesmo q .navbar ul li */
    position: relative;
    display: flex;
    flex-direction: column; 
}

.fi{
    position: relative;
    font-size: 25px;
    margin: 0;
    cursor: pointer;
}

/* ---  Conteudo Principal  --- */
.container{
    background-color: #f9e7e5;
}
.container-custom {
    background-color: #f9e7e5;
    border: 3px solid #b46490;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.img-thumbnail {
    width: 80px;
    margin-bottom: 10px;
    cursor: pointer;
}

.product-info {
    background-color: #f9e7e5;
    border: 3px solid #b46490;
    border-radius: 10px;
    padding: 20px;
}

.related-products {
    margin-top: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Comic Sans MS', cursive;
}

.btn-custom {
    background-color: #c07588;
    color: #f9e7e5;
    margin-top: 15px;
}

.price {
    font-size: 2em;
    color: #a34756;
    font-weight: bold;
}