* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9e7e5;
    color: #333;
    width: 100vw;
    overflow-x:hidden !important;
}
.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.swiper {
    object-fit: cover;
    user-select: none;
}
.titulo{
    display: flex;
    font-family: "Notable", sans-serif;
    color: #000;
    font-size: 100px;
    position: relative; 
    top: 40px;
    left: 80px;
}

/**     PRODUTOS       **/
.card-produto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    overflow: hidden;
    text-align: center;
    width: 80%;
    height: 90%;
    padding: 20px;
    transition: all 0.3s ease;
}
.card-produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.card-produto img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.detalhes .descricaoItem {
    font-size: 12px;
    color: #aaa;
    display: block;
    margin-bottom: 5px;
    display: block;
}
.detalhes h4 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
    color: #333;
}
.precos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.preco-final {
    font-size: 16px;
    color: #c98895;
    font-weight: bold;
}

/* **  MENU DE NAVEGAÇÃO  ** */  
.navbar {
    background-color: #ee9dad;
    padding: 15px 0px 15px 0px; 
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.navbar .logo {
    height: 80px;
    object-fit: contain; /*mantem a proporção da imagem*/
    padding-right: 150px;
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.navbar ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    transition: color 0.3s ease;
}
.navbar ul li a:hover {
    color: white;
}
.item {/* o mesmo q .navbar ul li */
    position: relative;
    display: flex;
    flex-direction: column; 
}
.fi{
    position: relative;
    font-size: 25px;
    margin: 0;
    cursor: pointer;
}

/*   PÁGINA PRINCIPAL   */
#pagInicial{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
    position: relative;
}

/*      ESQUERDA      */
#esquerda{
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
}
#textoInicio {
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    font-family: "Georgia", serif;
    color: black;
}
.spanInicio {
    color: white;
    font-weight: bold;
}

/*      DIREITA      */
#direita {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper1 {
    position: relative;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper1 .swiper-wrapper {
    height: 100%;
}
.swiper1 .swiper-slide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    height: 100%;
}
.swiper1 .swiper-button-prev1{
    color: #ee9dad;
    font-size: 24px;
}
.swiper1 .swiper-button-next1 {
    color: #ee9dad;
    font-size: 24px;
}

/** LINHA em baixo dos BOTOES dos FILTROS **/
.nav__links {
    display: flex;
    position: relative;
    align-items: flex-start;
} 
.nav__link button {
    transition: color 0.3s, background 0.3s;
} 
.nav__link.active button {
    color: #c98895;
    background-color: #fff;
}  
.nav__light {
    position: absolute;
    bottom: 0;
    height: 4px;
    background: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 0;
    left: 0;
}

/* **    AROMAS    ** */
#aromas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #c98895;
    position: relative;
    flex-direction:row;
    z-index: 1;
}
.swiper2{
    position: relative;
    width: 60%; 
    height: 60%; 
    background-color: #c98895; 
}

/* ---  Entre em contato  --- */
#EntreContato{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
}
#esq{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.VelaVDif{
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: -35px;
}
#dir{
    position: relative;
    width: 50%;
    height: 100%;
    display:inline;
    padding-left: 2%; 
}
#tituloLDD{
    display: flex;
    font-family: "Notable", sans-serif;
    color: #000;
    font-size: 100px;
    position: relative; 
    
}
.texto{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* **    AMBIENTES    ** */
#ambientes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #ee9dad;
    position: relative;
    flex-direction: row;
    padding: 2%; 
    box-sizing: border-box;
    z-index: 1;
}
.swiper3{
    position: relative;
    width: 60%; 
    height: 60%; 
    object-fit: cover;
    background-color: #ee9dad;
}


/* ---  Nossa Historia  --- */
#NossaHist{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
}
.E{
    position: relative;
    width: 50%;
    height: 100%;
    display:inline;
    padding-left: 2%;
}
.NossaH{
    position: relative;
    width: 100%;
    height: 100%;
    margin-right: -35px;
}
.D{
    position: relative;
    width: 50%;
    height: 100%;
}
.texto{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
}
/* ---  Para  Casa  --- */
#paraCasa{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 2%;  
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #79485a;
}
.swiper4{
    position: relative;
    width: 60%; 
    height: 60%; 
    object-fit: cover; 
}
/* ---  Monte Seu Pedido  --- */
#montePedido{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
    
}

/* ---  Difusores  --- */
#difusores{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 2%;  
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #c98895;
    
}
.swiper5{
    position: relative;
    width: 60%; 
    height: 60%; 
    object-fit: cover; ; 
}
/* Estilos do rodapé */
footer {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #f9e7e5;
    color: black;
    font-size: larger;
    text-align: center;
    padding: 15px;
}
.dRodape{
    position:absolute;
    bottom: 10px;
    right: 20px;
    font-size: xx-large;
}
.imgRodape{
    width: 10%;
    height: 10%;
}

@media screen and (max-width: 768px) {
    #pagInicial {
        flex-direction: column;
    }
    #esquerda{
        width: 100%;
    }
    #direita{
        width: 100%;
    }
    
}
